::ng-deep .mat-dialog-container {
    padding: 0px !important;
}
.filter-heading{
    border-bottom: 1px solid #E3E3E3;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.filter-heading-text{
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
    margin-left: 10px;
}
.filter-heading-close-text{
    text-align: left;
    font: normal normal 600 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 0.5;
    margin-right: 10px;
    cursor: pointer;
}
.filter-heading1{
    border-top: 1px solid #E3E3E3;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}
.filter-heading-text1{
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
    margin-right: 20px;
}
.formData{
    height: 230px;
}
.error{
    font: normal normal 600 13px/17px Open Sans;
    letter-spacing: 0px;
    color: red;
    opacity: 0.5;
    margin-right: 10px;
}
.stock-text{
    text-align: left;
    font: normal normal 600 14px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
    border-radius: 5px;
    padding: 5px 11px;
}